<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'roles')}">

<body>

<h1 th:text="'List of Roles'">List of Roles</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Level</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : ${roles}">
        <td th:text="${r.id}"></td>
        <td th:text="${r.name}"></td>
        <td th:text="${r.description}"></td>
        <td th:text="${r.level}"></td>
    </tr>
    </tbody>
</table>

</body>

</html>